.App {
  text-align: center;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

*::-webkit-scrollbar {
  width: 0;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.6);
}
